body {
    background-color: black;
}
#canvas1 {
    background: rgb(73, 73, 77);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    font-family: 'Courier New', Courier, monospace;
}
#playerImage, #backgroundImage, #enemy1, #start, #reStart, #fullBackground, #startImage, #gameOver, #arrowKeys, #score, #instructMessage {
    display: none;
}

h1 {
    color: white;
}


